body{
    margin-left: 80px; 
    margin-top: 30px;
}
#form{
    display:none;
}

.btn{
    background-color: rgb(1, 55, 130);
    color: white;
    margin-top: 5px;
}

.btn:hover{
    border-color: rgb(1, 55, 130);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(1, 55, 130);
}

#imgHome, #navHome{
margin-top: 20px;
}

div{
    margin-top: 5px;
}

table, h4{
    margin-top: 10px;
}
